
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
# RUN_DUMMY=true to seed dummy data (default: false, for production)
NODE_ENV=DEVELOPMENT
PORT=3000
JWT_SECRET=jwt_secret
REDIS_URL=redis://default:xxxxxxx@redis-xxxx.xxxxxx.me-central-1-1.ec2.redns.redis-cloud.com:xxxx
