MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
# RUN_DUMMY=true to seed dummy data (default: false, for production)
NODE_ENV=DEVELOPMENT
PORT=3000
JWT_SECRET=jwt_secret
REDIS_URL=redis://default:xxxxxxx@redis-xxxx.xxxxxx.me-central-1-1.ec2.redns.redis-cloud.com:xxxx
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
CONTACT_EMAIL=crm-leads@yourdomain.com
RECAPTCHA_SECRET_KEY=your-recaptcha-secret
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
